@tailwind components;

.content_container {
  /*text-decoration: underline;*/
}
.content_height {
  /*height: 88vh;*/
}
.bottom_height {
  height: 8vh;
}
.menu_box {
  /*height: 100%;
  width: 100%;
  border: 2px solid red;*/
  display: flex;
  align-items: center;
  justify-content: center;

}
.menu_text {
  font-weight: bold;
  /*margin: auto;
  display: block;*/
}

@layer components {
  .content_style {
    @apply mt-5 tracking-normal underline bg-clip-content p-6 bg-violet-300 border-4 border-violet-300 border-dashed;
  }
}
